body {
  margin: 0px;
  background-color: #B58F94;
}
/*** HEADER ***/
header {
  background-color: #FFFFFF;
  margin: none;
  padding: 5px 10px 5px 10px;
}
.logo {
  margin: 10px 10px 10px 30px;
}
img {
  border-radius: 5%;
}
.topnav {
  float: right;
  font-size: 25px;
  margin: 20px 30px 10px 0px;
}
.topnav a {
  color: #5C5E5D;
  text-align: center;
  text-decoration: none;
  padding-right: 10px;
}
.topnav a:hover {
  color: #FF0023;
}

.topnav a.active {
  color: #FF0023;
}
/*** MAIN ***/
main {
  min-height: 700px;
  margin-bottom: 0px;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 18px;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 25px;    /* Footer height */
}
.introtext {
  margin: 20px 10px 10px 45px;
  color: #5C5E5D;
  float: left;
  text-align: center;
  width: 40%;
}
.image{
  margin: 55px 5px 10px 0px;
  float: right;
  width: 40%
}
button {
  background-color: #FCE3E7;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
}
button a {
  color: #5C5E5D;
  text-decoration: none;
}
button a:hover {
  color: #FF0023;
}
/*** FOOTER ***/
footer {
  position: relative;
  height: 100px;           /* Footer height */
}
footer .column {
  float: left;
  width: 33.33%;
}
footer h2 {
  color: #FCE3E7;
  text-align: center;
  padding-bottom: 30px;
  font-size: 25px;
}
footer .row:after {
  content: "";
  display: table;
  clear: both;            /* Clear floats after the columns */
}
.fa {
  padding: 5px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #FCE3E7;
}
.fa:hover {
  color: #FF0023;
}
